{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>HenTube</title>
        {% block styles %} {% endblock styles %}
        {% block meta %} {% endblock meta %}
    </head>page

    <body>
        <header>
            <div>
                {% if request.user.is_authenticated %}
                    <a href={% url 'Users:logout' %}>logout</a>
                {% else %}
                    <a href={% url 'Users:login' %}>login</a>
                {% endif %}
            </div>
        </header>
        {% block body %} {% endblock body %}
    </body>
    {% block scripts %} {% endblock scripts %}
</html>