{% extends "base.html" %}
{% load static %}
{% block styles %}
    <style>
        video{
            width: 640px;
            height: 360px;
        }
        .video-container{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .meta-video{
            padding: 15px 0;
            max-width: 60%;
            display: flex;
            margin: 0 auto;
            justify-content: right;
        }
        .meta-video div,
        .meta-video button{
            padding: 0 15px;
        }
        .True{
            background-color: green;
        }
        .False{
            background-color: white;
        }
        .comment-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="content">
        <div class="video-container">
            <video class="video" controls>
                <source src="{% get_media_prefix  %}videos/{{ video.path_name }}" type='video/mp4'>
            </video>
        </div>
        <div class="meta-video">
            <button id="True" class="False" onclick="Like({{ video.id }}, {{ request.user.id }}, true)">Like</button>
            <div class="likes">{{ likes }}</div>
            <button id="False" class="False" onclick="Like({{ video.id }}, {{ request.user.id }}, false)">DisLike</button>
            <div class="dislikes" onclick="">{{ dislikes }}</div>
        </div>
    </div>
    <div class="comments-container">
        <div class="create-comment-container">
            <form class="create-comment">
                {% csrf_token %}
                <label>
                    Value
                    <input type="text" class="comment-value" id="comment-input" name="value">
                </label>
                <input type="hidden" name="user_id" value="{{ request.user.id  }}">
                <input type="hidden" name="video_id" value="{{ video.id }}">
                <button type="submit" id="create-comment" >Submit</button>
            </form>
        </div>
        <div class="comments">
            {% for i in comments %}
                <div class="comment">
                    <div class="user">{{ i.user.username }}</div>
                    <div class="value">{{ i.value }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}" ></script>
    <script type="text/javascript">
        function Like(video_id, like_setter, value){
            $.ajax({
                url: "{% url 'Videos:like' %}",
                data: {
                    'video_id': video_id,
                    'user_id': like_setter,
                    'value': value,
                    'csrfmiddlewaretoken': "{{ csrf_token }}"
                },
                type: 'POST',
                success: function (response){
                    $('.likes').text(response.likes)
                    $('.dislikes').text(response.dislikes)
                }
            })
            return false;
        }
        $(document).ready(function(){
            $('#create-comment').click(function () {
                var data = $('.create-comment').serialize();
                $.ajax({
                    url: "{% url 'Videos:comment' %}",
                    data: data,
                    type: 'POST',
                    success: function (response){
                        var comment = "<div class=\"comment\"><div class=\"user\">" + response.username + "</div><div class=\"value\">" + response.value + "</div></div>"
                        $('.comments').prepend(comment);
                        $("#comment-input").val(null)
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}