{% extends "base.html" %}

{% load humanize %}

{% block styles %}
    <style>
    th, td{
        border: solid black;
        padding: 0 5px;
    }

    a{
        text-decoration: none;
    }

    .videos-container{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .video-container{
        padding: 10px;
        {#background-color: rgba(181,181,181,0.47);#}
    }

    .preview img{
        width: 100%;
        object-fit: cover;
    }

    .title{
        position: relative;
        left: 20px;
        font-size: 14px;
        font-weight: 700;
        line-height: 0.9;
        padding: 5px 0;
    }

    .views,
    .chanel,
    .pub-data{
        position: relative;
        left: 20px;
        color: rgba(0, 0, 0, 0.6);
        line-height: 0.9;
        font-size: 12px;
        font-weight: 500;
        padding: 0 0 5px 0;
    }
    .preview{
        position: relative;
        {#width: 200px;#}
        height: 137.52px;
        overflow: hidden;
    }
    .preview img{
        object-fit: cover;
    }
    .preview-container{
        position: relative;
    }
    .duration{
        position: absolute;
        right: 5px;
        bottom: 10px;
        color: white;
        font-size: 12px;
        font-weight: 200;
        background-color: rgba(0, 0, 0, 0.5);
        display: inline-block;
    }
    </style>
{% endblock styles %}

{% block body %}
    <div>
        <a href="{% url 'Videos:index' %}">Post video</a>
    </div>
    <div class="videos-container">
        {% for video in videos %}
            <div class="video-container">
                <a href="{% url 'Videos:video' video_id=video.id %}">
                    <div class="video">
                        <div class="preview-container">
                            <div class="preview">
                                <img src="../../media/previews/{{ video.preview }}" alt="none">
                            </div>
                            <div class="duration">12:13</div>
                        </div>
                        <div class="title">{{ video.title }}</div>
                        <div class="chanel">
                            <a href="{% url 'Channels:channel' user_id=video.creater_id %}">{{ video.creater.username }}</a>
                        </div>
                        <div class="views">{{ video.views }} views • {{ video.pub_data|naturaltime }}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock body %}